# Ignore everything by default
/*

# Keep repository metadata/files
!/.gitignore
!/README.md
!/DESIGN.md

# Keep MVS-owned files
!/.bootstrap.vim
!/.init.vim
!/.plugins
!/vimrc

# Keep MVS runtime tree
!/.mvs/
!/.mvs/**

# But ignore vim-plug file
/.mvs/autoload/plug.vim

# Ignore Vim swap files even inside whitelisted directories
*.sw?
